.action{
  color: #707070; /* muda a cor */
  font-weight: bold; /*deixa o texto em negrito */
  font-size: 14px; /* define o tamanho da fonte */
  text-decoration: none; /* remove a linha do link */
  text-transform: uppercase ; /* deixa as letras maiusculas */
  font-family: 'Montserrat', sans-serif; /*muda a fonte do texto */

}